<!-- Get these from a supabase project -->

REACT_APP_SUPABASE_URL=
REACT_APP_SUPABASE_KEY=

<!-- For using on external device you may need to replace localhost with IP address -->

REACT_APP_BASE_URL=http://localhost:3000
